<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dcwgestao/css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dcwgestao/lib/jquery-ui/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dcwgestao/lib/data-tables/css/jquery.dataTables.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dcwgestao/lib/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/dcwgestao/lib/bootstrap/css/bootstrap-theme.min.css') }}" />
{% endblock %}
{% block top_javascript %}
    <script src="{{ asset('bundles/dcwgestao/lib/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/angular/angular-route.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/js/showdown.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/data-tables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/js/sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/js/main.js') }}"></script>
    <script>
    // Initialize angular app
    var app = angular.module("app", ['ngRoute']).config(
        function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        }
    );

    </script>
{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1"><a href="{{ path('dcw_gestao_home') }}">Home</a></div>
        </div>
        <div class="row">{% block body %}{% endblock %}</div>
    </div>
{% block bot_javascript %}
    <script src="{{ asset('bundles/dcwgestao/lib/angular/filters.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/angular/factories.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/angular/controllers.js') }}"></script>
    <script src="{{ asset('bundles/dcwgestao/lib/angular/routes.js') }}"></script>
{% endblock %}
</body>
</html>
